In [1]:
# Importing Necessary Libraries
import pandas as pd
import numpy as np
% matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
adult_df = pd.read_csv('A:\\Data Analysis Jupyter\\Adult-Census\\adult.csv')
print("Number of Observations in adult dataset:", adult_df.shape)

adult_df.head()

Number of Observations in adult dataset: (32561, 15)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [3]:
adult_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education.num     32561 non-null int64
marital.status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital.gain      32561 non-null int64
capital.loss      32561 non-null int64
hours.per.week    32561 non-null int64
native.country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
adult_df.describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [5]:
#Separate categorical and numberical columns
cat_col = adult_df.dtypes[adult_df.dtypes == 'object']
num_col = adult_df.dtypes[adult_df.dtypes != 'object']

In [6]:
for col in list(cat_col.index):
    print(f"--------------------{col.title()}-------------------------")
    total= adult_df[col].value_counts()
    percent = adult_df[col].value_counts() / adult_df.shape[0]
    df = pd.concat([total,percent],keys = ['total','percent'],axis = 1)
    print(df)
    print('\n')

--------------------Workclass-------------------------
                  total   percent
Private           22696  0.697030
Self-emp-not-inc   2541  0.078038
Local-gov          2093  0.064279
?                  1836  0.056386
State-gov          1298  0.039864
Self-emp-inc       1116  0.034274
Federal-gov         960  0.029483
Without-pay          14  0.000430
Never-worked          7  0.000215


--------------------Education-------------------------
              total   percent
HS-grad       10501  0.322502
Some-college   7291  0.223918
Bachelors      5355  0.164461
Masters        1723  0.052916
Assoc-voc      1382  0.042443
11th           1175  0.036086
Assoc-acdm     1067  0.032769
10th            933  0.028654
7th-8th         646  0.019840
Prof-school     576  0.017690
9th             514  0.015786
12th            433  0.013298
Doctorate       413  0.012684
5th-6th         333  0.010227
1st-4th         168  0.005160
Preschool        51  0.001566


--------------------Marital.Status-------------------------
                       total   percent
Married-civ-spouse     14976  0.459937
Never-married          10683  0.328092
Divorced                4443  0.136452
Separated               1025  0.031479
Widowed                  993  0.030497
Married-spouse-absent    418  0.012837
Married-AF-spouse         23  0.000706


--------------------Occupation-------------------------
                   total   percent
Prof-specialty      4140  0.127146
Craft-repair        4099  0.125887
Exec-managerial     4066  0.124873
Adm-clerical        3770  0.115783
Sales               3650  0.112097
Other-service       3295  0.101195
Machine-op-inspct   2002  0.061485
?                   1843  0.056601
Transport-moving    1597  0.049046
Handlers-cleaners   1370  0.042075
Farming-fishing      994  0.030527
Tech-support         928  0.028500
Protective-serv      649  0.019932
Priv-house-serv      149  0.004576
Armed-Forces           9  0.000276


--------------------Relationship-------------------------
                total   percent
Husband         13193  0.405178
Not-in-family    8305  0.255060
Own-child        5068  0.155646
Unmarried        3446  0.105832
Wife             1568  0.048156
Other-relative    981  0.030128


--------------------Race-------------------------
                    total   percent
White               27816  0.854274
Black                3124  0.095943
Asian-Pac-Islander   1039  0.031909
Amer-Indian-Eskimo    311  0.009551
Other                 271  0.008323


--------------------Sex-------------------------
        total   percent
Male    21790  0.669205
Female  10771  0.330795


--------------------Native.Country-------------------------
                            total   percent
United-States               29170  0.895857
Mexico                        643  0.019748
?                             583  0.017905
Philippines                   198  0.006081
Germany                       137  0.004207
Canada                        121  0.003716
Puerto-Rico                   114  0.003501
El-Salvador                   106  0.003255
India                         100  0.003071
Cuba                           95  0.002918
England                        90  0.002764
Jamaica                        81  0.002488
South                          80  0.002457
China                          75  0.002303
Italy                          73  0.002242
Dominican-Republic             70  0.002150
Vietnam                        67  0.002058
Guatemala                      64  0.001966
Japan                          62  0.001904
Poland                         60  0.001843
Columbia                       59  0.001812
Taiwan                         51  0.001566
Haiti                          44  0.001351
Iran                           43  0.001321
Portugal                       37  0.001136
Nicaragua                      34  0.001044
Peru                           31  0.000952
Greece                         29  0.000891
France                         29  0.000891
Ecuador                        28  0.000860
Ireland                        24  0.000737
Hong                           20  0.000614
Trinadad&Tobago                19  0.000584
Cambodia                       19  0.000584
Thailand                       18  0.000553
Laos                           18  0.000553
Yugoslavia                     16  0.000491
Outlying-US(Guam-USVI-etc)     14  0.000430
Honduras                       13  0.000399
Hungary                        13  0.000399
Scotland                       12  0.000369
Holand-Netherlands              1  0.000031


--------------------Income-------------------------
       total  percent
<=50K  24720  0.75919
>50K    7841  0.24081